.projects-container{
    display: flex;
    flex-direction: row;
    .linkboard-comp{
        align-self: start;
        margin-left: 2%;
        margin-right: 2%;
    }
    .projects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .project-button{
        box-shadow: 2px 3px#2b2823;
        align-self: center;
        padding: 8px;
        width: 15%;
        margin: 1%;
    }
}